# Multivariate Linear Regression

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_json('../data/cars.json')

#
# We want to do: Exclude ANY row that has ANY missing value
#

# find everywhere where there are missing values
missing_vals = pd.isna(df)

# we want to go over every row and find how many missing missing values there are
num_missing = np.sum(missing_vals, axis=1) # this will take NxK => N

# we want an array that tells us which rows should be included
ix = (num_missing == 0)
np.sum(ix)

# use ix to index into the dataframe and make it clean
print("Before cleaning: ", df.shape)
df = df[ix]
print("After cleaning: ", df.shape)

Before cleaning:  (406, 9)
After cleaning:  (392, 9)

In [3]:
s = pd.Series(['Apple', 'Banana', 'Strawberry'])
s

pd.get_dummies(s)

   Apple  Banana  Strawberry
0   True   False       False
1  False    True       False
2  False   False        True

In [4]:
df

,Name,Miles_per_Gallon,Cylinders,Displacement,Horsepower,Weight_in_lbs,Acceleration,Year,Origin
0,chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,1970-01-01,USA
1,buick skylark 320,15.0,8,350.0,165.0,3693,11.5,1970-01-01,USA
2,plymouth satellite,18.0,8,318.0,150.0,3436,11.0,1970-01-01,USA
3,amc rebel sst,16.0,8,304.0,150.0,3433,12.0,1970-01-01,USA
4,ford torino,17.0,8,302.0,140.0,3449,10.5,1970-01-01,USA
...,...,...,...,...,...,...,...,...,...
401,ford mustang gl,27.0,4,140.0,86.0,2790,15.6,1982-01-01,USA
402,vw pickup,44.0,4,97.0,52.0,2130,24.6,1982-01-01,Europe
403,dodge rampage,32.0,4,135.0,84.0,2295,11.6,1982-01-01,USA
404,ford ranger,28.0,4,120.0,79.0,2625,18.6,1982-01-01,USA
405,chevy s-10,31.0,4,119.0,82.0,2720,19.4,1982-01-01,USA

In [5]:
# We want to convert the year string into a number representing the year
# so we don't have to categorically encode it
#year_col = pd.to_datetime(df.Year)
#year_col.dt.year
df.Year = pd.to_datetime(df.Year).dt.year

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392 entries, 0 to 405
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              392 non-null    object
 1   Miles_per_Gallon  392 non-null    float64
 2   Cylinders         392 non-null    int64
 3   Displacement      392 non-null    float64
 4   Horsepower        392 non-null    float64
 5   Weight_in_lbs     392 non-null    int64
 6   Acceleration      392 non-null    float64
 7   Year              392 non-null    int32
 8   Origin            392 non-null    object
dtypes: float64(4), int32(1), int64(2), object(2)
memory usage: 29.1+ KB

In [7]:
# Let's identify categorical columns in a dataframe
categorical_cols = df.select_dtypes(include='object').columns
print(categorical_cols)
# Let's identify the numeric columns in the dataframe
numeric_cols = df.select_dtypes(include='number').columns
numeric_cols = numeric_cols[1:] # We do not want the output column
numeric_cols

Index(['Name', 'Origin'], dtype='object')

Index(['Cylinders', 'Displacement', 'Horsepower', 'Weight_in_lbs',
       'Acceleration', 'Year'],
      dtype='object')

In [28]:
# We want to construct the input features into the model
# We will use a numpy array that contains both numeric and categorically encoded values
X = df[numeric_cols].to_numpy() # 392x6 (NxK)

# Now we need to z-score the numeric features so that they can lead to efficient learning
col_means = np.mean(X, axis=0) # K
col_stds = np.std(X, axis=0, ddof=1) # K

# Z-score
# (NxK - 
#  1xK) 
#  / 
#  (1xK)
Z = (X - col_means[None, :]) / col_stds[None, :]

# Now we want to code the categorical columns using one-hot encoding
categorical_cols = ['Origin']
for col in categorical_cols:
    # NxC (C is the number of unique values in the column)
    # So for origin this will be Nx3 
    dummies = pd.get_dummies( df[col] ).to_numpy() 
    
    # concatenate dummies matrix onto Z
    Z = np.hstack((Z, dummies)) 

# finally we want to add a column of ones at the start of Z
ones_col = np.ones((Z.shape[0], 1)) # Nx1

Z = np.hstack((ones_col, Z))
Z.shape

(392, 10)

In [26]:
# Digression: hstack versus vstack

a = np.array([1,2,3])
b = np.array([4,5,6])

# we want to create a matrix of size 3x2 where first column is a and second is b
np.hstack((a[:, None], b[:, None]))
np.vstack((a, b)).T

array([[1, 4],
       [2, 5],
       [3, 6]])

In [36]:
# let's create a function that enapsulates all the complicated input creation operations
# we are assuming that input_df contains ONLY the input columns (no output column)
def prepare_inputs(input_df):

    # Let's identify categorical columns in a dataframe
    categorical_cols = input_df.select_dtypes(include='object').columns
    
    # Let's identify the numeric columns in the dataframe
    numeric_cols = input_df.select_dtypes(include='number').columns

    # We want to construct the input features into the model
    # We will use a numpy array that contains both numeric and categorically encoded values
    X = df[numeric_cols].to_numpy() # (NxK)
    
    # Now we need to z-score the numeric features so that they can lead to efficient learning
    col_means = np.mean(X, axis=0) # K
    col_stds = np.std(X, axis=0, ddof=1) # K
    
    # Z-score
    # (NxK - 
    #  1xK) 
    #  / 
    #  (1xK)
    Z = (X - col_means[None, :]) / col_stds[None, :]
    
    # Now we want to code the categorical columns using one-hot encoding
    for col in categorical_cols:
        # NxC (C is the number of unique values in the column)
        # So for origin this will be Nx3 
        dummies = pd.get_dummies( input_df[col] ).to_numpy() 
        
        # concatenate dummies matrix onto Z
        Z = np.hstack((Z, dummies)) 
    
    # finally we want to add a column of ones at the start of Z
    ones_col = np.ones((Z.shape[0], 1)) # Nx1
    
    Z = np.hstack((ones_col, Z))

    return Z

input_df = df[['Cylinders', 
               'Displacement', 
               'Origin', 'Horsepower', 'Year', 'Weight_in_lbs','Acceleration']]
Z = prepare_inputs(input_df)
Z.shape

(392, 10)

In [39]:
def forward_fn(Beta, Z):
    # Beta is size K
    # Z is size NxK
    # (NxK) @ K = N
    # this is the linear regression model
    return Z @ Beta

# lets test this function: initialize some random Beta
# Beta is [b0, b1, b2, ...]
Beta = np.random.randn(Z.shape[1]) # K
Beta

forward_fn(Beta, Z)

def predict(Beta, input_df):
    Z = prepare_inputs(input_df)
    return forward_fn(Beta, Z)
predict(Beta, input_df)

array([ 3.29205109e+00,  5.00421084e+00,  4.14086563e+00,  4.18094518e+00,
        3.41474154e+00,  6.40325968e+00,  7.42162090e+00,  6.98593275e+00,
        7.77789763e+00,  5.78520863e+00,  5.42815745e+00,  4.05587584e+00,
        4.47859825e+00,  9.08005993e+00, -4.07723251e-01,  2.62234127e+00,
        2.77682406e+00,  2.55746867e+00, -7.57651352e-01, -1.52877810e+00,
       -1.03933484e+00, -1.31069459e+00, -4.78398983e-01, -3.74301053e-01,
        2.50019470e+00,  6.86076500e+00,  6.03565812e+00,  6.28513419e+00,
        6.05541841e+00, -1.06818689e+00,  2.71821201e+00, -7.78226506e-01,
        2.61447968e+00,  2.46390515e+00,  2.64798612e+00,  2.16139779e+00,
        2.47848730e+00,  4.29187420e+00,  4.95284353e+00,  4.14415638e+00,
        3.58849974e+00,  4.49129810e+00,  4.56491913e+00,  4.39544424e+00,
        3.12530228e+00,  2.50892663e+00,  2.59369005e+00,  2.11990736e+00,
        2.08067303e+00, -1.31799373e+00, -1.45542431e+00, -2.08559412e+00,
       -1.10635958e+00, -9.68187251e-01, -1.54003049e+00,  2.59404487e+00,
       -8.37377362e-01,  1.92016990e+00, -1.61540667e+00,  3.06766242e+00,
        2.26431776e+00,  3.91812690e+00,  4.81913763e+00,  3.34004018e+00,
        3.75793002e+00,  3.22744627e+00,  6.12559926e+00,  3.56903733e+00,
        3.82745745e+00,  5.52421549e+00, -1.33195573e+00,  3.21350485e+00,
        2.49333391e+00,  3.07195099e+00,  3.49644756e+00, -1.31786667e+00,
       -1.74599176e+00, -1.44263064e+00, -2.02280315e+00,  1.99996414e+00,
       -8.61411935e-01, -1.09221460e+00,  1.48901904e+00, -9.49535617e-01,
        4.40418173e+00,  2.91691073e+00,  3.23098665e+00,  2.57826209e+00,
        3.17764950e+00,  5.17747161e+00,  3.36334731e+00,  3.43351777e+00,
        3.13031688e+00,  6.14297863e+00,  6.53476806e+00,  4.39181104e+00,
        2.35209154e+00,  2.57652716e+00,  2.29098286e+00,  2.01360209e+00,
        1.72169099e+00, -2.47221788e+00,  3.24502302e+00,  3.76004153e+00,
        3.76805452e+00,  4.12984136e+00,  2.24268501e+00, -9.34131429e-01,
        1.99466601e+00, -1.14702387e+00, -1.74131850e+00,  2.22936820e+00,
        1.75447575e+00, -1.98651993e+00,  3.13957271e+00,  6.46318516e+00,
       -2.90061877e+00, -2.31414970e+00, -2.36596340e+00, -1.36518437e+00,
        3.24524109e+00, -1.54839010e+00, -1.14969072e+00,  4.64186026e+00,
        1.31860573e+00,  2.02323682e+00,  2.00958119e+00, -2.03156873e+00,
        1.16801397e+00, -1.69922083e+00,  1.17520576e+00,  1.57682375e+00,
        2.44215562e+00,  1.56309158e+00,  2.19965851e+00,  2.74270643e+00,
        2.40582776e+00,  2.11634381e+00,  2.83749365e+00, -2.35147481e+00,
       -3.20732039e+00, -3.05557590e+00, -2.91481689e+00, -2.29300653e+00,
        4.99132623e-01, -2.87848538e+00, -3.01027336e+00, -1.59675034e+00,
       -1.71197249e+00, -3.14329943e+00,  1.06458027e+00,  1.59310910e+00,
        1.20907150e+00,  1.17552427e+00,  3.29862804e+00,  2.37035677e+00,
        2.25542626e+00,  2.19916679e+00,  2.15014766e+00,  1.66717428e+00,
        2.23632227e+00,  1.15793192e+00,  1.79423133e+00,  9.36427114e-01,
        1.96426138e+00, -2.60577463e+00,  1.11223583e+00,  1.70005893e+00,
        1.24426628e+00, -2.29432821e+00, -3.27179954e+00, -1.57336480e+00,
        4.94229670e-01, -3.53642011e+00,  1.18386461e+00, -2.71336691e+00,
       -2.81012059e+00, -2.85946294e+00, -2.06647597e+00, -2.95011686e+00,
       -3.17791488e+00, -2.76961935e+00,  8.31478407e-01,  6.55659689e-01,
       -3.16112574e+00,  1.34151233e+00,  1.94440810e+00,  9.01183176e-01,
        2.34941549e+00,  8.77873865e-01,  1.08564824e+00,  4.30008965e-01,
        1.11586629e+00,  4.64519834e-01,  8.12177489e-01, -3.80695444e+00,
       -3.28065301e+00,  9.31387592e-01,  1.01686533e+00,  1.35537753e+00,
        1.56694893e+00, -3.97388874e+00, -2.89354985e+00, -2.82074792e+00,
       -2.76464616e-01, -2.85371742e+00,  2.22753148e+00, -2.44501529e+00,
       -2.39922106e+00, -2.83539061e+00,  3.23395845e+00,  2.03421720e+00,
        1.61476666e+00,  2.56744674e+00, -2.89182512e+00,  5.63047927e-02,
       -3.76933888e+00,  8.67041082e-01, -3.20032462e+00,  1.47044308e+00,
        5.76208064e-01,  1.60881561e+00,  8.70922838e-01,  1.20640428e+00,
        9.64105541e-01,  6.41274312e-01,  1.20871212e+00,  3.46060071e+00,
        2.56513244e+00,  4.00586736e+00,  2.13398026e+00, -3.63708661e+00,
        5.34571806e-01, -2.87824627e+00,  3.94771534e-01, -2.80286457e-01,
        3.31109670e-01, -3.30785741e+00, -3.96021120e+00, -3.38435203e+00,
       -2.97219024e+00, -2.59200422e+00, -3.95487739e+00, -7.38531772e-01,
       -3.88043418e+00, -3.27241030e+00, -3.80743272e+00,  2.41530855e-01,
        1.37844930e+00,  1.23006294e+00,  1.00661023e+00,  3.88195432e-01,
       -3.34417586e-01, -4.46646362e-03,  4.25233461e-01,  2.93231690e-01,
        4.77325302e-01, -2.56523422e-01,  9.67841007e-01,  1.26325957e+00,
        1.74239413e+00,  2.49832657e+00,  1.26501157e+00,  1.14294376e+00,
       -5.78278221e-01, -2.99057432e+00, -2.72672568e+00, -6.70645140e-01,
       -2.82680868e+00,  1.14386781e+00,  3.03998416e-01, -2.78883578e+00,
       -3.43991473e+00, -3.25966119e+00, -2.67865781e+00, -2.74032274e+00,
       -4.30845775e+00, -3.66989619e+00,  6.45444567e-01, -1.89250753e-01,
       -1.00313525e-01,  1.29215352e-01,  4.90139748e-01,  8.27232271e-01,
        4.61424038e-01,  1.15233856e+00,  1.16185386e+00,  1.81339044e+00,
        1.44701738e+00,  3.20073903e-01,  1.74445563e+00, -4.73578700e+00,
       -4.37263401e+00, -5.62583729e-01, -9.09279587e-01, -4.09748296e+00,
        1.47863660e+00, -3.20107036e+00,  3.62806626e-01, -1.42569956e+00,
       -1.03706479e+00, -3.62800339e+00, -4.85735374e+00,  6.70491831e-02,
       -2.17102149e-01,  7.96269330e-04, -3.82104132e-01, -4.80092224e+00,
       -4.13513073e+00, -1.27984403e+00, -4.48595175e+00, -1.51263228e-01,
       -2.31394430e-01,  2.52699846e-01, -2.75547830e-01, -4.54986251e+00,
       -3.71216892e+00, -3.95170708e+00, -3.63179406e+00, -4.28192227e+00,
       -4.27443910e+00,  9.29586750e-03, -4.02606291e+00, -4.63319613e+00,
       -4.47630613e+00, -5.03251385e+00, -4.28276339e+00, -4.69798415e+00,
       -4.07505249e+00, -5.09314969e+00, -3.27666676e+00, -3.97555874e+00,
       -4.27511910e+00, -4.08606664e+00, -1.19204149e+00, -1.00694067e+00,
       -9.92309911e-01, -1.22881003e+00, -1.64994721e+00, -5.13086468e+00,
       -1.87865325e+00, -5.18699430e+00, -4.65832569e+00, -4.47584681e+00,
       -5.05048075e+00, -4.96759070e+00, -2.33104307e+00, -1.90165984e+00,
       -1.32741618e+00, -5.57078309e+00, -5.02114306e+00, -4.66564517e+00,
       -4.12698978e+00, -4.54595187e+00, -4.66696913e+00, -5.62470673e+00,
       -4.33179970e+00, -4.20591626e+00, -5.85168331e-01,  1.82482679e-01,
       -1.28072689e+00, -1.61200636e+00, -6.20434895e-01, -8.54478077e-01,
       -7.36222006e-01, -1.39949229e+00, -1.16607677e+00, -5.27757045e-01,
       -1.01666490e+00, -5.14655379e+00, -4.56647687e+00, -4.63299364e+00,
       -2.28352031e+00, -1.54576661e+00, -4.24572308e+00, -4.99628001e+00,
       -4.75721889e+00, -5.19088413e+00, -5.05087988e+00, -4.98005150e+00,
       -5.89680720e-01, -6.64010620e-01, -9.38272200e-01, -1.44025634e-01,
       -4.23577535e+00, -1.61535927e+00, -8.76846359e-01, -1.36015587e+00,
       -4.46564106e+00, -1.82243113e+00, -1.13147118e+00, -9.47273069e-01])